.mentrcnnn-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 80.4vh;
}
.mentrc-list {
    width: 70%; /* Adjust width of the scholarship list */
    margin: 0; /* Remove any default margin */
}
