.mscholar-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 80.4vh;
}


.scholarship-list {
    width: 75%; /* Occupies the remaining space */
    
}
