/* About Section */
.uhome-about-section {
    display: flex;
    padding: 4vw;
    background-color: #FFFFFF;
    min-height: 50vh;
    align-items: center;
  }
  
  .uhome-about-content {
    flex: 1;
    max-width: 50%;
    padding-right: 3vw;
  }
  
  .uhome-about-content h2 {
    font-size: clamp(24px, 2.5vw, 32px);
    color: #004429;
    margin-bottom: 2vw;
  }
  
  .uhome-about-content p {
    font-size: clamp(16px, 1.5vw, 20px);
    color: #333;
    line-height: 1.6;
  }
  
  .uhome-about-image {
    flex: 1;
    display: flex;
    justify-content: center;
  }
  
  .uhome-about-image img {
    width: 90%;
    max-width: 500px;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
  }
  