/* Additional Info Section */
.uhome-additional-info-section {
    padding: 4vw;
    background-color: #F2F0E9;
    text-align: center;
  }
  
  .uhome-additional-info-section h4 {
    font-size: clamp(16px, 1.5vw, 20px);
    color: #004429;
    margin-bottom: 2vw;
    font-weight: 500;
  }
  
  .uhome-additional-info-section h2 {
    font-size: clamp(24px, 2.5vw, 28px);
    color: #004429;
    margin-bottom: 2vw;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .uhome-additional-info-section p {
    font-size: clamp(16px, 1.5vw, 20px);
    color: #004429;
    max-width: 600px;
    margin: 0 auto;
    line-height: 1.6;
  }
  