/* Hero Section */
.uhome-hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3vw 4vw;
    background-color: #004429;
    min-height: 60vh;
  }
  
  .uhome-hero-content {
    flex: 1;
    max-width: 50%;
    padding: 0 2vw;
    color: #FFFFFF;
  }
  
  .uhome-hero-content h1, .uhome-hero-content h2 {
    font-size: clamp(24px, 3vw, 36px);
    color: #FFFFFF;
    font-weight: 400;
  }
  
  .uhome-hero-content h1 {
    margin-left: 6vw;
  }
  
  .uhome-hero-content h2 {
    margin-left: 15vw;
  }
  
  .uhome-hero-content p {
    font-size: clamp(16px, 1.5vw, 20px);
    color: #FFFFFF;
    margin: 3vw 0;
    margin-left: 3vw;
    line-height: 1.6;
  }
  
  .uhome-hero-image {
    flex: 1;
    padding: 0 2vw;
  }
  
  .uhome-hero-image img {
    width: 100%;
    height: auto;
    max-height: 60vh;
    object-fit: cover;
    border-radius: 1%;
  }
  