/* Header Styles */
.mhhome-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Logo Styling */
  .mhhome-logo {
    display: flex;
    align-items: center;
    padding: 10px;
  }
  
  .mhhome-small_logo {
    max-width: 150px;
    height: auto;
    margin-left: 20px;
  }
  
  /* Navigation Styling */
  .mhhome-nav {
    display: flex;
    gap: 20px;
    margin-left: -100px;
  }
  
  .mhhome-nav button {
    font-size: 20px;
    background-color: transparent;
    border: none;
    padding: 0;
    color: #004429;
    cursor: pointer;
    margin: 0 5px;
  }
  
  .mhhome-auth-buttons {
    display: flex;
    gap: 30px;
  }
  
  .mhhome-login-btn {
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 25px;
    text-align: center;
    background-color: #FFFFFF;
    border: 2px solid #004429;
    color: #004429;
    cursor: pointer;
    width: 120px;
  }
  