.class-box {
    padding: 20px;
    margin-top: 3%;
    margin-left: 5%;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    width: 280px;
    font-family: 'Arial', sans-serif;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #e0e0e0;
    transition: all 0.3s ease-in-out; /* Smooth transition for the hover effect */
}

.class-box h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 16px;
    color: #222;
    text-align: center;
    border-bottom: 1px solid #ddd;
    padding-bottom: 8px;
}

.class-box__count {
    font-size: 48px;
    font-weight: bold;
    color: #28a745;
}

.class-box.loading {
    font-size: 18px;
    color: #888;
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.class-box:hover {
    transform: scale(1.05); /* Slight zoom effect */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15); /* Enhance shadow on hover */
}

.class-box:hover .class-box__count {
    color: #2b4561; /* Change count color on hover */
}

.class-box:hover h2 {
    color: #28a745; /* Change title color on hover */
}
