/* Only apply flex to the outer container, not all divs globally */
.mentranceviewheadd-container {
  display: flex;
  justify-content: space-between; /* Space between items */
  align-items: center; /* Center items vertically */
  background-color: #ffffff;  
  border-bottom: 1px solid #ddd; /* Optional: Separator line */
}

/* Logo section */
.mentranceviewheadd-logo img {
  height: 140px;
  width: auto; /* Maintain aspect ratio */
  padding-left: 60%;
}

/* Button styles for Profile and Log Out */
.mentranceviewheadd-buttons {
  display: flex;
  gap: 15px; /* Add spacing between buttons */
  padding-right: 3%;
}

.mentranceviewheadd-profilebtn {
  padding: 8px 16px;
  color: #004429;
  background-color: #ffffff;
  cursor: pointer;
  font-size: 20px;
  border: none;
}

.mentranceviewheadd-logoutbtn {
  padding: 8px 16px;
  background-color: #004429;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  border-radius: 20px;
}
